<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [iconUrl]="'/assets/images/map/bicycle-store.svg'"
    [markerDraggable]="m.draggable">

    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>

  </agm-marker>
</agm-map>
