<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="removeMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable">
    <!--[iconUrl]="'/assets/images/map/icon-blue5.svg'" -->

    <agm-info-window>
      <strong>Selected Location</strong>
    </agm-info-window>

  </agm-marker>
</agm-map>
<br/>
<button type="button" class="btn btn-success" (click)="pushGPSC()">Push GPS Coordinates</button>
<button type="button" class="btn btn-success" (click)="getGPSC()">Get GPS Coordinates</button>
