<agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="removeMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable">
    <!--[iconUrl]="'/assets/images/map/icon-blue5.svg'" -->

    <agm-info-window>
      <strong>Selected Location</strong>
    </agm-info-window>

  </agm-marker>
</agm-map>
<br/>
<button type="button" class="btn btn-success" (click)="getGPSC()">Get GPS Coordinates</button>
<button type="button" class="btn btn-primary" (click)="pushGPSC()">Push GPS Coordinates</button>
<button type="button" class="btn btn-warning" (click)="refresh()">Refresh</button>
<button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
<br/><br/>
<span class="badge badge-danger">ACCESS_TOKEN</span><label class="form-control">{{access_token}}</label>
<span class="badge badge-danger">TOKEN_TYPE, TOKEN_EXPIRE</span><label class="form-control">{{token_type}} {{token_expire}}</label>
<span class="badge badge-danger">TOKEN_SCOPE</span><label class="form-control">{{token_scope}}</label>
<span class="badge badge-danger">REFRESH_TOKEN</span><label class="form-control">{{refresh_token}}</label>
<span class="badge badge-danger">APP_ERRORS</span><label class="form-control">{{app_error}}</label>

